{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Los dibujos animados</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore rem architecto cupiditate quos? Autem, impedit commodi assumenda totam dolore accusamus, suscipit natus ducimus maiores reprehenderit deserunt! Libero perferendis labore error?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/about-image.png" class="img-thumbnail">
        </div>

    </div>




{{> footer }}